body
{
    height: auto;
    background-image: linear-gradient(blue, white);
}

.container
{

    width: 100%;
    margin-top: 15px;
    min-width: 30%;

}

#global, #global1, #global2, #global3
{
    margin-top: 30px;
}


.row
 {
     border: 2px solid black;
     height: auto;
     width: 100%;
     min-width: 30%;
}

.col-sm-1
{
    height: auto;
    background-color: bisque;

}

.col-sm-5
{

    float: left;
    width: auto;


}

.col-sm-2
{
    float: left;
    height: 100%;
    width: 100%;

}

.col-sm-11
{
    height: 10%;
    background-color: bisque;

}
.col-sm-12
{
    height: 10%;
    background-color: bisque;
    border: 2px solid black;
}

.col-sm-6
{
    float: left;
    width: 25%;
    height: 100%;

}

ul.list-group
{
    width: 100%;
}

li.list-group-item.list-group-item-success
{
    width: 100%;
}

.adresse
{
    font-family: Bahnschrift, sans-serif;
    font-size: 1.5vw;
    list-style-type: none;
    height: 100%;
    letter-spacing: 1px;
}
.adr
{
    margin-top: -15px;
}

.reseau.liste
{
    width: 100%;
}

.marko
{
    float: right;
    height: 230px;
    width: 180px;
    margin-top: 10px;

}

.facebook, .linkedin, .twitter
{
    display: inline;
    height: 30px;
    width: 100px;
}

.style, .style1, .style2, .style3, .style4, .style5, .style6, .style7, .style8, .style9
{
    margin-top: -10px;
}

.btn-info
{
    margin-top: 5px;
}